
    
    <%= content_tag(:div, class: "container") do %>

    <form action="/login" method="post">
    <%= form_tag("/login") do%>
        
        <div class="row">
        <h2 style="text-align:center">Login with Social Media or Manually</h2>
        <div class="vl">
        <span class="vl-innertext">or</span>
        </div>

        <div class="col">
            <a href="/auth/facebook" class="fb btn"> 
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
            </a>
            <a href="/auth/twitter" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
            </a>
            <a href="/auth/google_oauth2" class="google btn">
            <i class="fa fa-google fa-fw"></i> Login with Google
            </a>
        </div>

        <div class="col">
            <label><input type="text" name="user[name]" placeholder="Name" required></label>
            <label><input type="password" name="user[password]" placeholder="Password" required></label>
            <input type="submit" value="Login">
        </div>

        </div>
    <%end%>
    <%end%>
    <div class="bottom-container">
    <div class="row">
        <div class="col">
        <a href="/signup" style="color:white" class="btn">Sign up</a>
        </div>
        <div class="col">
        <a href="#" style="color:white" class="btn">Forgot password?</a>
        </div>
    </div>
    </div>


